*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

img {
  max-width: 100%;
}

// clear floats. especially for images
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}