/* Global styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  .hero {
    margin: 0%;
    width: 100%;
  }
  
  h1, h2 {
    margin: 0;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  

  
  /* Header styles */
  
  header {
    background-color: skyblue;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
  
  nav ul {
    display: flex;
  }
  
  nav li {
    margin-left: 20px;
  }
  
 

  /* Contact section styles */
  
  .contact-form {
    padding: 50px;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
    width: 40%;
  }
  
  .contact-form label {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .contact-form input,
  .contact-form textarea {
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .contact-form button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 100px;
    align-self: center;
  }
  
  .contact-form button:hover {
    background-color: #555;
  }
  

/* image slide home page*/

.slider-container {
    height: 115vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    
  }
  
  .slider-image {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  
  .slider-image.active {
    opacity: 1;
  }

  .content {
    margin-top: 2%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;
    text-align: left;
  }

/*a:link {
  color: blue;
}

a:visited {
  color: purple;
}*/

a:hover {
  color: red;
  text-decoration: underline;
}

a:active {
  color: green;
}


  /* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 1%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
  border-radius: 50%; 
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
  border-radius: 50%; 
}

.fa-instagram {
  background: #E1306C;
  color: white;
  border-radius: 50%; 
  }
  
  .fa-youtube {
    background: #FF0000;
    color: white;
    border-radius: 50%; 
    }